# virtual environments
venv

# Python files
*.py[cod]
*$py.class
*.pyc
__pycache__

# Python Notebook dot files
.ipynb*

# Pytest cache
.pytest_cache/


# Secret environment settings
*.env
env

# Node and Webpack files
node_modules
npm-debug.log
webpack-stats*


# Yarn files
yarn-error.log

# Static assests
staticfiles
static_cdn
media_cdn

# Ignore sqlite
db.sqlite3

# Apple files
.DS_Store

# Production
/frontend/dist
/static_root
*.pem
